*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  display: grid;
  grid-template-rows: [welcome-start] 100vh [welcome-end intro-start] max-content [intro-end project-start] max-content [project-end contact-start] max-content [contact-end];
  grid-template-columns: [full-start] 100% [full-end]; }
  @media only screen and (max-width: 66.25em) {
    .container {
      grid-template-rows: [welcome-start] 60vh [welcome-end intro-start] max-content [intro-end project-start] max-content [project-end contact-start] max-content [contact-end]; } }

.welcome__text--1 {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  color: white;
  margin-bottom: 1rem; }
  @media only screen and (max-width: 66.25em) {
    .welcome__text--1 {
      font-size: 3rem;
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 43.75em) {
    .welcome__text--1 {
      font-size: 4rem;
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 26.57em) {
    .welcome__text--1 {
      font-size: 3rem; } }
  .welcome__text--1 span {
    font-family: "Alatsi", sans-serif;
    font-size: 4.6rem;
    color: #eb2828; }
    @media only screen and (max-width: 66.25em) {
      .welcome__text--1 span {
        font-size: 4rem; } }
    @media only screen and (max-width: 43.75em) {
      .welcome__text--1 span {
        font-size: 4.6rem; } }
    @media only screen and (max-width: 26.57em) {
      .welcome__text--1 span {
        font-size: 3rem; } }

.welcome__text--2 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  color: white; }
  @media only screen and (max-width: 66.25em) {
    .welcome__text--2 {
      text-align: center;
      margin: 0 auto;
      line-height: 1.5; } }
  @media only screen and (max-width: 43.75em) {
    .welcome__text--2 {
      width: 80%;
      margin: 0 auto;
      line-height: 1.5; } }
  @media only screen and (max-width: 26.57em) {
    .welcome__text--2 {
      font-size: 1.4rem; } }

.about__about--text {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  color: #333333;
  font-weight: medium; }
  @media only screen and (max-width: 20.32em) {
    .about__about--text {
      font-size: 2rem; } }

.about__myself__text {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Raleway", sans-serif; }
  @media only screen and (max-width: 43.75em) {
    .about__myself__text {
      display: none; } }

.about__keywords__text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  font-family: "Raleway", sans-serif; }
  @media only screen and (max-width: 43.75em) {
    .about__keywords__text {
      font-size: 1.3rem;
      line-height: 1.3; } }

.projects__header {
  grid-row: 1 / 2;
  text-align: center;
  font-size: 4rem;
  font-family: "Raleway", sans-serif; }
  @media only screen and (max-width: 20.32em) {
    .projects__header {
      font-size: 2rem; } }

.projects__1__text {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  text-align: center;
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  color: #4dd6eb;
  transition: all .4s; }
  @media only screen and (max-width: 83.75em) {
    .projects__1__text {
      display: none; } }
  @media only screen and (max-width: 64em) {
    .projects__1__text {
      font-size: 2rem; } }
  .projects__1__text__smallScreen {
    text-align: center;
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    color: #021433;
    margin-bottom: 1.4rem; }
    @media only screen and (max-width: 40em) {
      .projects__1__text__smallScreen {
        margin-bottom: 1rem;
        font-size: 1.5rem; } }
    @media only screen and (max-width: 26.57em) {
      .projects__1__text__smallScreen {
        font-size: 1.1rem; } }

.projects__2__text {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  text-align: center;
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  color: #4dd6eb;
  transition: all .4s; }
  @media only screen and (max-width: 83.75em) {
    .projects__2__text {
      display: none; } }
  @media only screen and (max-width: 64em) {
    .projects__2__text {
      font-size: 2rem; } }
  .projects__2__text__smallScreen {
    text-align: center;
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    color: #021433;
    margin-bottom: 1.4rem; }
    @media only screen and (max-width: 40em) {
      .projects__2__text__smallScreen {
        margin-bottom: 1rem;
        font-size: 1.5rem; } }
    @media only screen and (max-width: 26.57em) {
      .projects__2__text__smallScreen {
        font-size: 1.1rem; } }

.contact__header {
  grid-row: 1 / 2;
  text-align: center;
  font-size: 4rem;
  font-family: "Raleway", sans-serif;
  color: #f0f0f0; }
  @media only screen and (max-width: 20.32em) {
    .contact__header {
      font-size: 2rem; } }

@keyframes arrow {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(2rem); }
  100% {
    transform: translateX(0); } }

@keyframes text-in {
  0% {
    transform: translateX(-20rem); }
  50% {
    transform: translateX(-5rem); }
  100% {
    transform: translateX(0); } }

.welcome {
  grid-row: welcome-start / welcome-end;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  position: relative; }
  @media only screen and (max-width: 43.75em) {
    .welcome {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 60% 40%; } }
  .welcome::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../Assets/images/starry sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .8;
    z-index: -10; }
  .welcome__text {
    grid-row: 1 /2;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
    text-align: center;
    animation-name: text-in;
    animation-duration: 2s; }
    @media only screen and (max-width: 43.75em) {
      .welcome__text {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        align-self: flex-end; } }
  .welcome__button {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
    text-align: center; }
    @media only screen and (max-width: 43.75em) {
      .welcome__button {
        grid-row: 2 / 3;
        grid-column: 1 / 2; } }

.about {
  grid-row: intro-start / intro-end;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  padding-bottom: 7rem; }
  @media only screen and (max-width: 20.32em) {
    .about {
      padding-bottom: 5rem; } }
  .about__about {
    grid-row: 2 / 3;
    text-align: center;
    margin: 4rem 0; }
    @media only screen and (max-width: 26.57em) {
      .about__about {
        margin-bottom: 1rem; } }
  .about__content {
    grid-row: 3 / 4;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr)); }
    @media only screen and (max-width: 43.75em) {
      .about__content {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content min-content;
        row-gap: 4rem; } }
  .about__myself {
    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: 6rem; }
    @media only screen and (max-width: 43.75em) {
      .about__myself {
        grid-row: 2 / 3;
        display: grid;
        grid-template-rows: min-content;
        grid-template-columns: repeat(2, minmax(min-content, 1fr)); } }
    @media only screen and (max-width: 31.25em) {
      .about__myself {
        grid-row: 2 / 3;
        display: grid;
        grid-template-rows: min-content;
        grid-template-columns: 100%; } }
    .about__myself__photo {
      grid-row: 1 / 2;
      justify-self: center;
      align-self: center;
      width: 27rem;
      height: auto;
      border: 0.5rem solid #4dd6eb;
      box-shadow: 0.8rem 0.8rem 1rem rgba(135, 134, 134, 0.7);
      padding: .4rem; }
      @media only screen and (max-width: 43.75em) {
        .about__myself__photo {
          grid-row: 1 / 2;
          grid-column: 1 / 2;
          width: 20rem;
          height: auto; } }
      @media only screen and (max-width: 31.25em) {
        .about__myself__photo {
          display: none; } }
    .about__myself__me {
      display: block;
      width: 100%;
      object-fit: cover; }
    .about__myself__attributes {
      grid-row: 2 / 3;
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media only screen and (max-width: 43.75em) {
        .about__myself__attributes {
          grid-row: 1 / 2;
          grid-column: 2 / 3;
          align-self: center; } }
      @media only screen and (max-width: 31.25em) {
        .about__myself__attributes {
          grid-row: 1 / 2;
          grid-column: 1 / 2;
          align-self: center; } }
      .about__myself__attributes--1 {
        width: 80%;
        padding: 0;
        margin-bottom: 2rem;
        background-color: #a1a1a1; }
        @media only screen and (max-width: 43.75em) {
          .about__myself__attributes--1 {
            width: 90%;
            margin-bottom: 1.4rem; } }
        .about__myself__attributes--1 h3 {
          display: flex;
          justify-content: space-between;
          padding: 1.2rem;
          width: 75%;
          background-color: #32faaa;
          color: white;
          font-family: "Raleway", sans-serif; }
          @media only screen and (max-width: 20.32em) {
            .about__myself__attributes--1 h3 {
              padding: .9rem; } }
      .about__myself__attributes--2 {
        width: 80%;
        padding: 0;
        margin-bottom: 2rem;
        background-color: #a1a1a1; }
        @media only screen and (max-width: 43.75em) {
          .about__myself__attributes--2 {
            width: 90%;
            margin-bottom: 1.4rem; } }
        .about__myself__attributes--2 h3 {
          display: flex;
          justify-content: space-between;
          padding: 1.2rem;
          width: 85%;
          background-color: #07de7d;
          color: white;
          font-family: "Raleway", sans-serif; }
          @media only screen and (max-width: 20.32em) {
            .about__myself__attributes--2 h3 {
              padding: .9rem; } }
      .about__myself__attributes--3 {
        width: 80%;
        padding: 0;
        margin-bottom: 2rem;
        background-color: #a1a1a1; }
        @media only screen and (max-width: 43.75em) {
          .about__myself__attributes--3 {
            width: 90%;
            margin-bottom: 1.4rem; } }
        .about__myself__attributes--3 h3 {
          display: flex;
          justify-content: space-between;
          padding: 1.2rem;
          width: 70%;
          background-color: #54deb7;
          color: white;
          font-family: "Raleway", sans-serif; }
          @media only screen and (max-width: 20.32em) {
            .about__myself__attributes--3 h3 {
              padding: .9rem; } }
      .about__myself__attributes--4 {
        width: 80%;
        padding: 0;
        margin-bottom: 3rem;
        background-color: #a1a1a1; }
        @media only screen and (max-width: 43.75em) {
          .about__myself__attributes--4 {
            width: 90%;
            margin-bottom: 1.4rem; } }
        .about__myself__attributes--4 h3 {
          display: flex;
          justify-content: space-between;
          padding: 1.2rem;
          width: 65%;
          background-color: #79d4b7;
          color: white;
          font-family: "Raleway", sans-serif; }
          @media only screen and (max-width: 20.32em) {
            .about__myself__attributes--4 h3 {
              padding: .9rem; } }
      .about__myself__attributes p {
        font-family: "Raleway", sans-serif;
        font-size: 2rem;
        color: #333333; }
  .about__keywords {
    display: grid;
    grid-template-rows: 50% 50%; }
    @media only screen and (max-width: 43.75em) {
      .about__keywords {
        grid-row: 1 / 2;
        display: grid;
        grid-template-rows: min-content;
        grid-template-columns: repeat(2, minmax(min-content, 1fr)); } }
    @media only screen and (max-width: 26.57em) {
      .about__keywords {
        grid-row: 1 / 2;
        display: grid;
        grid-template-rows: min-content min-content;
        grid-template-columns: 100%;
        row-gap: 3rem; } }
    .about__keywords__upper {
      grid-row: 1 / 2;
      justify-self: center;
      align-self: center;
      display: flex;
      justify-content: space-evenly;
      align-content: center; }
      @media only screen and (max-width: 43.75em) {
        .about__keywords__upper {
          grid-row: 1 / 2;
          grid-column: 1 / 2; } }
      @media only screen and (max-width: 26.57em) {
        .about__keywords__upper {
          grid-row: 1 / 2;
          grid-column: 1 / 2; } }
    .about__keywords__lower {
      grid-row: 2 / 3;
      justify-self: center;
      align-self: center;
      display: flex;
      justify-content: space-evenly;
      align-content: center; }
      @media only screen and (max-width: 43.75em) {
        .about__keywords__lower {
          grid-row: 1 / 2;
          grid-column: 2 / 3; } }
      @media only screen and (max-width: 26.57em) {
        .about__keywords__lower {
          grid-row: 2 / 3;
          grid-column: 1 / 2; } }

.projects {
  padding-top: 15rem;
  padding-bottom: 15rem;
  background-color: #f0f0f0;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  display: grid;
  grid-template-rows: min-content max-content;
  row-gap: 2rem; }
  @media only screen and (max-width: 31.25em) {
    .projects {
      padding-top: 10rem;
      padding-bottom: 14rem; } }
  @media only screen and (max-width: 26.57em) {
    .projects {
      padding-top: 8rem; } }
  .projects__content {
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 50% 50%; }
    @media only screen and (max-width: 26.57em) {
      .projects__content {
        margin-top: 4rem; } }
  .projects__1 {
    background-image: url("../../Assets/images/thumbnail_1.png");
    background-size: cover;
    background-position: center;
    grid-column: 1 / 2;
    display: block;
    width: 60%;
    height: 60%;
    height: auto;
    justify-self: end;
    position: relative;
    z-index: 10;
    transition: all .4s; }
    @media only screen and (max-width: 83.75em) {
      .projects__1:hover {
        transform: translateY(-2rem); } }
    .projects__1:hover .projects__1__text {
      transform: translateY(6rem);
      opacity: 1;
      z-index: 20; }
      @media only screen and (max-width: 64em) {
        .projects__1:hover .projects__1__text {
          transform: translateY(4rem); } }
    .projects__1:hover .projects__1__buttons {
      transform: translateY(-2rem);
      opacity: 1;
      z-index: 20; }
    .projects__1:hover .projects__1__smallScreen {
      opacity: 1;
      transform: translateY(3rem); }
      @media only screen and (max-width: 40em) {
        .projects__1:hover .projects__1__smallScreen {
          transform: translateY(1rem); } }
    .projects__1:hover::before {
      opacity: 1; }
    .projects__1::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
      opacity: 0;
      transition: all .4s; }
      @media only screen and (max-width: 83.75em) {
        .projects__1::before {
          display: none; } }
    .projects__1__image {
      width: 100%;
      object-fit: cover; }
    .projects__1__buttons {
      display: block;
      text-align: center;
      width: 100%;
      opacity: 0;
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all .4s; }
      @media only screen and (max-width: 83.75em) {
        .projects__1__buttons {
          display: none; } }
      @media only screen and (max-width: 31.25em) {
        .projects__1__buttons__smallScreen {
          display: grid; } }
    .projects__1__smallScreen {
      display: none; }
      @media only screen and (max-width: 83.75em) {
        .projects__1__smallScreen {
          position: absolute;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          opacity: 0;
          transition: all .4s; } }
  .projects__2 {
    background-image: url("../../Assets/images/thumbnail_2.png");
    background-size: cover;
    background-position: center;
    grid-column: 2 / 3;
    display: block;
    width: 60%;
    height: auto;
    justify-self: start;
    position: relative;
    z-index: 10;
    transition: all .4s; }
    @media only screen and (max-width: 83.75em) {
      .projects__2:hover {
        transform: translateY(-2rem); } }
    .projects__2:hover .projects__2__text {
      transform: translateY(6rem);
      opacity: 1;
      z-index: 20; }
      @media only screen and (max-width: 64em) {
        .projects__2:hover .projects__2__text {
          transform: translateY(4rem); } }
    .projects__2:hover .projects__2__buttons {
      transform: translateY(-2rem);
      opacity: 1;
      z-index: 20; }
    .projects__2:hover .projects__2__smallScreen {
      opacity: 1;
      transform: translateY(3rem); }
      @media only screen and (max-width: 40em) {
        .projects__2:hover .projects__2__smallScreen {
          transform: translateY(1rem); } }
    .projects__2:hover::before {
      opacity: 1; }
    .projects__2::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
      opacity: 0;
      transition: all .4s; }
      @media only screen and (max-width: 83.75em) {
        .projects__2::before {
          display: none; } }
    .projects__2__image {
      width: 100%;
      object-fit: cover; }
    .projects__2__buttons {
      display: block;
      text-align: center;
      width: 100%;
      opacity: 0;
      z-index: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all .4s; }
      @media only screen and (max-width: 83.75em) {
        .projects__2__buttons {
          display: none; } }
      @media only screen and (max-width: 31.25em) {
        .projects__2__buttons__smallScreen {
          display: grid; } }
    .projects__2__smallScreen {
      display: none; }
      @media only screen and (max-width: 83.75em) {
        .projects__2__smallScreen {
          position: absolute;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          opacity: 0;
          transition: all .4s; } }

.contact {
  display: grid;
  grid-template-rows: min-content max-content;
  background-color: #021433;
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-top: -9rem; }
  @media only screen and (max-width: 31.25em) {
    .contact {
      padding-bottom: 5rem; } }
  .contact__content {
    margin-top: 8rem;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    column-gap: 4rem; }
    @media only screen and (max-width: 31.25em) {
      .contact__content {
        margin-top: 4rem;
        display: grid;
        grid-template-rows: min-content min-content;
        grid-template-columns: 100%;
        column-gap: 0;
        row-gap: 3rem; } }
  .contact__conventional {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: end;
    align-self: center; }
    @media only screen and (max-width: 31.25em) {
      .contact__conventional {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        justify-self: center; } }
    .contact__conventional__list {
      list-style: none; }
      .contact__conventional__list li {
        font-size: 2rem;
        font-family: "Raleway", sans-serif;
        color: #f0f0f0; }
        @media only screen and (max-width: 43.75em) {
          .contact__conventional__list li {
            font-size: 1.4rem;
            margin-bottom: 1rem; } }
        @media only screen and (max-width: 31.25em) {
          .contact__conventional__list li {
            font-size: 2rem; } }
        @media only screen and (max-width: 26.57em) {
          .contact__conventional__list li {
            font-size: 1.3rem; } }
  .contact__social_media {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: start;
    display: flex;
    justify-content: space-evenly; }
    @media only screen and (max-width: 43.75em) {
      .contact__social_media {
        justify-self: center; } }
    @media only screen and (max-width: 31.25em) {
      .contact__social_media {
        grid-row: 2 / 3;
        grid-column: 1 / 2; } }
    .contact__social_media__link, .contact__social_media__link:active, .contact__social_media__link:visited {
      text-decoration: none;
      color: #4dd6eb; }
      @media only screen and (max-width: 43.75em) {
        .contact__social_media__link, .contact__social_media__link:active, .contact__social_media__link:visited {
          font-size: .8rem; } }
      @media only screen and (max-width: 31.25em) {
        .contact__social_media__link, .contact__social_media__link:active, .contact__social_media__link:visited {
          font-size: .4rem; } }
      .contact__social_media__link i, .contact__social_media__link:active i, .contact__social_media__link:visited i {
        color: #4dd6eb; }

@keyframes arrow {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(2rem); }
  100% {
    transform: translateX(0); } }

@keyframes text-in {
  0% {
    transform: translateX(-20rem); }
  50% {
    transform: translateX(-5rem); }
  100% {
    transform: translateX(0); } }

.button--welcome {
  width: 18rem;
  height: auto;
  padding: 1rem 1rem;
  background-color: transparent;
  border: .2rem solid white;
  cursor: pointer;
  outline: none;
  animation-name: arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite; }
  @media only screen and (max-width: 20.32em) {
    .button--welcome {
      width: 13rem;
      height: auto; } }
  .button--welcome a,
  .button--welcome a:visited,
  .button--welcome a:active {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    color: white;
    transition: all .2s; }
    @media only screen and (max-width: 20.32em) {
      .button--welcome a,
      .button--welcome a:visited,
      .button--welcome a:active {
        font-size: 1.3rem; } }
    .button--welcome a:hover,
    .button--welcome a:visited:hover,
    .button--welcome a:active:hover {
      color: #eb2828; }
  .button--welcome a .arrow {
    margin-left: .5rem; }

.goToWeb,
.goToWeb:active,
.goToWeb:visited {
  display: block;
  width: 30%;
  padding: .5rem;
  margin: 1rem auto;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  color: #4dd6eb;
  border: 0.2rem solid #4dd6eb;
  transition: all .2s; }
  @media only screen and (max-width: 64em) {
    .goToWeb,
    .goToWeb:active,
    .goToWeb:visited {
      width: 20%;
      font-size: 1rem; } }
  .goToWeb:hover,
  .goToWeb:active:hover,
  .goToWeb:visited:hover {
    color: white;
    background-color: #4dd6eb; }

.goToGit,
.goToGit:active,
.goToGit:visited {
  display: block;
  width: 40%;
  padding: .5rem;
  margin: 1rem auto;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  color: #4dd6eb;
  border: 0.2rem solid #4dd6eb;
  transition: all .2s; }
  @media only screen and (max-width: 64em) {
    .goToGit,
    .goToGit:active,
    .goToGit:visited {
      width: 30%;
      font-size: 1rem; } }
  .goToGit:hover,
  .goToGit:active:hover,
  .goToGit:visited:hover {
    color: white;
    background-color: #4dd6eb; }

.goToWeb__smallScreen,
.goToWeb_.goToWeb__smallScreen,
.goToWeb_.goToWeb__smallScreen:visited {
  display: inline-block;
  padding: .5rem;
  margin-right: 3rem;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  color: #4dd6eb;
  border-bottom: 0.2rem solid #4dd6eb;
  transition: all .2s; }
  @media only screen and (max-width: 64em) {
    .goToWeb__smallScreen,
    .goToWeb_.goToWeb__smallScreen,
    .goToWeb_.goToWeb__smallScreen:visited {
      font-size: 1.3rem; } }
  @media only screen and (max-width: 40em) {
    .goToWeb__smallScreen,
    .goToWeb_.goToWeb__smallScreen,
    .goToWeb_.goToWeb__smallScreen:visited {
      margin-right: 1.5rem;
      font-size: 1rem; } }
  @media only screen and (max-width: 31.25em) {
    .goToWeb__smallScreen,
    .goToWeb_.goToWeb__smallScreen,
    .goToWeb_.goToWeb__smallScreen:visited {
      margin-right: 0; } }
  @media only screen and (max-width: 26.57em) {
    .goToWeb__smallScreen,
    .goToWeb_.goToWeb__smallScreen,
    .goToWeb_.goToWeb__smallScreen:visited {
      font-size: .8rem; } }

.goToGit__smallScreen,
.goToGit__smallScreen:active,
.goToGit__smallScreen:visited {
  display: inline-block;
  padding: .5rem;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  color: #4dd6eb;
  border-bottom: 0.2rem solid #4dd6eb;
  transition: all .2s; }
  @media only screen and (max-width: 64em) {
    .goToGit__smallScreen,
    .goToGit__smallScreen:active,
    .goToGit__smallScreen:visited {
      font-size: 1.3rem; } }
  @media only screen and (max-width: 40em) {
    .goToGit__smallScreen,
    .goToGit__smallScreen:active,
    .goToGit__smallScreen:visited {
      font-size: 1rem; } }
  @media only screen and (max-width: 26.57em) {
    .goToGit__smallScreen,
    .goToGit__smallScreen:active,
    .goToGit__smallScreen:visited {
      font-size: .8rem; } }

.about__keywords__element {
  text-align: center; }

.about__keywords__icon {
  margin-bottom: 1.2rem; }
  @media only screen and (max-width: 43.75em) {
    .about__keywords__icon {
      font-size: .6rem; } }
  .about__keywords__icon i {
    color: #4dd6eb; }

.navbar {
  grid-row: 1 / 2;
  background-color: #021433;
  display: flex;
  justify-content: start;
  align-items: center; }
  .navbar__list {
    list-style: none;
    padding: 1.5rem 2rem;
    display: flex; }
    .navbar__list li {
      margin-right: 3rem; }
    .navbar__list a,
    .navbar__list a:active,
    .navbar__list a:visited {
      text-decoration: none;
      color: white;
      font-size: 2rem;
      font-family: "Raleway", sans-serif;
      padding-bottom: .2rem;
      transition: color .3s; }
      @media only screen and (max-width: 26.57em) {
        .navbar__list a,
        .navbar__list a:active,
        .navbar__list a:visited {
          font-size: 1.3rem; } }
      .navbar__list a:hover,
      .navbar__list a:active:hover,
      .navbar__list a:visited:hover {
        color: #4dd6eb;
        border-bottom: 0.2rem solid #4dd6eb; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }
