// font styles

$font-style-1: 'Raleway', sans-serif;
$font-style-2: 'Alatsi', sans-serif;


// font sizes

$font-size-1: 4rem;
$font-size-2: 2rem;
$font-size-3: 3rem;



// font colors
$font-color-1: #eb2828;
$font-color-2: #333333;
$font-color-3: #878686;
$font-color-4: #4dd6eb;
$font-color-5: #f0f0f0;
$font-color-6: #021433;